<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MergeAndPrint.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <MergeAndPrint.Properties.Settings>
            <setting name="MainPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="WorkingPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="PrintPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="Printer1" serializeAs="String">
                <value/>
            </setting>
            <setting name="Printer2" serializeAs="String">
                <value/>
            </setting>
            <setting name="Printer3" serializeAs="String">
                <value/>
            </setting>
            <setting name="ArchivePath" serializeAs="String">
                <value/>
            </setting>
            <setting name="TimerPeriod" serializeAs="String">
                <value/>
            </setting>
            <setting name="Printer11" serializeAs="String">
                <value/>
            </setting>
            <setting name="Printer22" serializeAs="String">
                <value/>
            </setting>
            <setting name="Printer33" serializeAs="String">
                <value/>
            </setting>
        </MergeAndPrint.Properties.Settings>
    </userSettings>
</configuration>
